{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif

    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  {%- if picker_type == 'swatch' -%}
    {%- capture help_text -%}
      <span class="visually-hidden">{{ value | escape }}</span>
      {{ label_unavailable }}
    {%- endcapture -%}
    {%
      render 'swatch-input',
      id: input_id,
      name: input_name,
      value: value | escape,
      swatch: value.swatch,
      product_form_id: product_form_id,
      checked: value.selected,
      visually_disabled: option_disabled,
      shape: block.settings.swatch_shape,
      help_text: help_text,
      additional_props: input_dataset
    %}
  {%- elsif picker_type == 'button' or picker_type == 'custom' -%}
      {% if input_name contains "Size" or input_name contains "Set" %}
        <input
          type="radio"
          id="{{ input_id }}"
          name="{{ input_name | escape }}"
          value="{{ value | escape }}"
          form="{{ product_form_id }}"
          {% if value.selected %}
            checked
          {% endif %}
          {% if option_disabled %}
            class="disabled"
          {% endif %}
          {{ input_dataset }}
        >
        {% assign optionpos = 'option' | append: option.position %}
        {% assign variant = product.variants | where: optionpos, value | first %}
        <div class="package_row {% if product.selected_or_first_available_variant.id == variant.id %}active{% endif %}" for="{{ input_id }}" onclick="document.getElementById('{{ input_id }}').checked = true;document.getElementById('variant-selects-{{ section.id }}').dispatchEvent(new Event('change', { bubbles: true }));">
          {% if forloop.last %}
            <div class="bestvalue">Best Value</div>
          {% endif %}
          <div class="package_col-left" data-variant={{ variant }}>
            <span></span>
            <p class="package-text1">{{ value }}</p>
          </div>
            {% if variant.compare_at_price > variant.price %}
              {% assign discount = variant.compare_at_price | minus: variant.price %}
              {% assign discount_percentage = discount | times: 100 | divided_by: variant.compare_at_price | round %}
              <div class="package_save">{{ discount_percentage }}% Off</div>
            {% endif %}
          <div class="package_col-right">
            <p class="cut-prc">{{ variant.compare_at_price | money }}</p>
            <p class="reg-prc">{{ variant.price | money }}</p>
          </div>
        </div>
      {% elsif input_name contains 'Color' %}
        {% assign optionpos = 'option' | append: option.position %}
        {% assign variant = product.variants | where: optionpos, value | first %}
        <input
          type="radio"
          id="{{ input_id }}"
          name="{{ input_name | escape }}"
          value="{{ value | escape }}"
          form="{{ product_form_id }}"
          {% if value.selected %}
            checked
          {% endif %}
          {% if option_disabled %}
            class="disabled"
          {% endif %}
          {{ input_dataset }}
        >
        <label class="color-option" for="{{ input_id }}" 
          
          style="
          {% if variant.metafields.cc_fields.color != blank %}
            background:{{ variant.metafields.cc_fields.color }}80;
            border-color:{{ variant.metafields.cc_fields.color }} !important;
          {% else %}
            background:#ffe4dd;
            border-color:#f2552c80 !important;
          {% endif %}">
          {% if variant.metafields.cc_fields.variant_img != blank %}
            <img src="{{ variant.metafields.cc_fields.variant_img | image_url }}"/>
          {% endif %}
          <p class="color-awg-mm2-info">
            {% if variant.metafields.cc_fields.awg != blank %}
              {{ variant.metafields.cc_fields.awg }} AWG 
            {% endif %}
            {% if variant.metafields.cc_fields.mm2 != blank %}
              <br>{{ variant.metafields.cc_fields.mm2 }} MM<sup>2</sup>
            {% endif %}
          </p>
          <span style="background:{% if variant.metafields.cc_fields.color != blank %}{{ variant.metafields.cc_fields.color }}{% else %}#f2552c80{% endif %};"}>{{ value -}}</span>
          {{ label_unavailable }}
        </label>
      {% else %}
        <input
          type="radio"
          id="{{ input_id }}"
          name="{{ input_name | escape }}"
          value="{{ value | escape }}"
          form="{{ product_form_id }}"
          {% if value.selected %}
            checked
          {% endif %}
          {% if option_disabled %}
            class="disabled"
          {% endif %}
          {{ input_dataset }}
        >
        <label for="{{ input_id }}">
          {{ value -}}
          {{ label_unavailable }}
        </label>
      {% endif %}
  {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
    <option
      id="{{ input_id }}"
      value="{{ value | escape }}"
      {% if value.selected %}
        selected="selected"
      {% endif %}
      {% if swatch_value and picker_type == 'swatch_dropdown' %}
        data-option-swatch-value="{{ swatch_value }}"
        {% if swatch_focal_point %}
          data-option-swatch-focal-point="{{ swatch_focal_point }}"
        {% endif %}
      {% endif %}
      {{ input_dataset }}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
